
<h1 class="text-center">
  Scoreboard: <small> <%= name_url_cleanup(@game.start_point) %>  -  <%= name_url_cleanup(@game.end_point) %> </small>
</h1>

<table id="game_index">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Number of Moves</th>
      <th>Win?</th>
      <th>Date Played</th>
    </tr>
  </thead>

  <tbody>
    <% Player.where(:game_id => @game.id).find_each do |x| %>
      <tr>
        <td><%= User.find_by(id: x.user_id).full_name %></td>
        <td><%= Move.includes("users").where(:player_id => Player.where(:id => x.id, :game_id => @game.id)).count %></td>
        <td><%= (Game.find_by(id: x.game_id)).winner?(User.find_by(id: x.user_id)) %></td>
        <td><%= (Move.where(:player_id => Player.where(:user_id => x.user_id, :game_id => x.game_id)).order('created_at DESC').limit(1).find{|el| el[:created_at]}[:created_at]).to_formatted_s(:short)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
