
<h1 class="text-center">
  <%= @user.full_name %>'s Game Record
</h1>

<h4 class="text-center">
  Click on any row to view the path taken
</h4>

<hr>

<div class="container">
  <div class="table-responsive">
    <table id="game_index" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Game Start</th>
          <th>Game End</th>
          <th>Number of Moves</th>
          <th>Win?</th>
          <th>Time Taken</th>
        </tr>
      </thead>

      <tbody>
        <% Player.where(:user_id => current_user.id).each do |player| %>
        <tr data-link="<%= player_moves_path(player) %>">
          <td><%= name_url_cleanup(player.game.start_point)%></td>
          <td><%= name_url_cleanup(player.game.end_point) %></td>
          <td class="col-md-2"><%= player.moves.count %></td>
          <td><%= Game.find_by(id: player.game_id).winner?(player) %></td>
          <% if player.moves.first && player.moves.last %>
            <td class="col-md-2"><%= gametimer_leaderboard(player) %></td>
          <% else %>
            <td class="col-md-2">No moves made</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
