
<h1>
  <%= @user.full_name %>'s Game Record
</h1>

<hr>

<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
<div class="container">
  <div class="table-responsive">
    <table id="game_index" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Game Start</th>
          <th>Game End</th>
          <th>Number of Moves</th>
          <th>Win?</th>
          <th>Time Taken</th>
        </tr>
      </thead>

      <tbody>
        <% Player.where(:user_id => current_user.id).each do |player| %>
        <tr>
          <td><%= name_url_cleanup(player.game.start_point)%></td>
          <td><%= name_url_cleanup(player.game.end_point) %></td>
          <td class="col-md-2"><%= player.moves.count %></td>
          <td><%= Game.find_by(id: player.game_id).winner?(player) %></td>
          <td class="col-md-2"><%= gametimer_leaderboard(player) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
