<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table id="game_index">
  <thead>
    <tr>
      <th><%= sortable "start_point", "Starting Article" %></th>
      <th><%= sortable "end_point", "Ending Article" %></th>
      <% if current_user && current_user.admin? %>
        <th colspan="4"><%= sortable "Options" %></th>
      <% else %>
        <th colspan="3"><%= sortable "Options" %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% for game in @games %>
      <tr>
        <td><%= name_url_cleanup(game.start_point) %></td>
        <td><%= name_url_cleanup(game.end_point) %></td>
        <td><%= link_to 'Play', game, class: "btn btn-info" %></td>
        <% if current_user && current_user.admin? %>
          <td><%= link_to 'Edit', edit_game_path(game), class: "btn btn-warning" %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          <td><%= link_to 'Show Leaderboard', game_leaderboards_path(game), class: "btn btn-primary" %></td>
        <% else %>
          <td><%= link_to 'Show Leaderboard', game_leaderboards_path(game), class: "btn btn-warning" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @games, renderer: BootstrapPagination::Rails %>
