<p id="notice"><%= notice %></p>

<h1>Choose Game</h1>

<table id="game_index">
  <thead>
    <tr>
      <th>Starting Point</th>
      <th>End Point</th>
      <th colspan="3">Options</th>

    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= name_url_cleanup(game.start_point) %></td>
        <td><%= name_url_cleanup(game.end_point) %></td>
        <td><%= link_to 'Play', game, class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_game_path(game), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Play Random Game', new_game_path, class: "btn btn-lg btn-primary btn-block"  %>

<br>
<br>
<br>
