<p id="notice"><%= notice %></p>

<h1 class="text-center">Choose Game</h1>


<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
<div class="container">
  <div class="table-responsive">
    <table id="game_index" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Starting Article</th>
          <th>Ending Article</th>
          <th class="<%= "#{column_with_method}" %>">Options</th>
        </tr>
      </thead>

      <tbody>
        <% for game in @games %>
          <tr>
            <td><%= name_url_cleanup(game.start_point) %></td>
            <td><%= name_url_cleanup(game.end_point) %></td>
            <td class="button_spacing"><%= play_game_link(game) %>
            <% if current_user && current_user.admin? %>
              <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            <% end %>
              <%= link_to 'Show Leaderboard', game_leaderboards_path(game), class: "btn btn-primary" %>
              <%= send_challenge_link(game) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>

<br>
<%= play_random_game_link %>
<%= play_custom_game_link %>


<br>
<br>
<br>
