<p id="notice"><%= notice %></p>

<h1 class="text-center">Choose Game</h1>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>

<div class="container">
  <div class="table-responsive">
    <table id="game_index" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Starting Article</th>
          <th>Ending Article</th>
          <% if current_user && current_user.admin? %>
            <th>Options</th>
          <% else %>
            <th>Options</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% for game in @games %>
          <tr>
            <td><%= URI.decode(name_url_cleanup(game.start_point)) %></td>
            <td><%= URI.decode(name_url_cleanup(game.end_point)) %></td>
            <td class="button_spacing"><%= link_to 'Play', game, class: "btn btn-info" %>
            <% if current_user && current_user.admin? %>
              <%= link_to 'Edit', edit_game_path(game), class: "btn btn-warning" %>
              <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              <%= link_to 'Show Leaderboard', game_leaderboards_path(game), class: "btn btn-primary" %>
            <% else %>
              <td><%= link_to 'Show Leaderboard', game_leaderboards_path(game), class: "btn btn-warning" %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>

<br>

<%= link_to 'Play Random Game', games_path, method: :post, class: "btn btn-lg btn-primary btn-block"  %>

<br>
