<p id="notice"><%= notice %></p>

<h1>Choose Game</h1>

<table>
  <thead>
    <tr>
      <th>Starting Point</th>
      <th>End Point</th>
      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @pagerenders.each do |pagerender| %>
      <tr>
        <td><%= pagerender.url.split('/')[-1] %></td>
        <td>Africa</td>
        <td><%= link_to 'Play', pagerender %></td>
        <td><%= link_to 'Edit', edit_pagerender_path(pagerender) %></td>
        <td><%= link_to 'Destroy', pagerender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pagerender', new_pagerender_path %>
