

<h1 class="text-center">
  <% if @won == true %>
    YOU WON!!!!
  <% elsif render_cheater == true%>
    YOU CHEATED!!!!
  <% else %>
    <%= game_move_count_funny_message %>
  <% end %>
</h1>

<div class="wikipedia_container_header">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h4>Starting Point:  <%= current_game_start_name %>
          <%= render 'imageinfo', url_location: current_game.start_point %>
          <% if game_move_count <= 1 %>
            <div class = "icon_text_first_move">
              <%= "<-- Click Icon to view this Wikipedia Page on another tab (won't count as a move)" %>
            </div>
          <% end %>
          <br>
          <span class="end_display"> Ending Point: <%= current_game_end_name %>
            <%= render 'imageinfo', url_location: current_game.end_point %>
            <% if game_move_count <= 1 %>
            <div class = "icon_text_first_move">
              <%= "<-- Click Icon to view this Wikipedia Page on another tab (won't count as a move)" %>
            </div>
            <% end %>
          </span>
        </h4>
      </div>
        <div class="col-md-3">
          <span class="pull-right">
          <h4>  Current Number of Moves: <%= game_move_count %>
            <br>
            Game Timer: <%= gametimer(current_game)%></h4>
          </span>
        </div>
      </div>
  </div>
</div>
<%= render 'showwikipage', game: @game %>
